{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block body %}
<div class="container">
  <section id="menu" class="menu section">
    <div class="container section-title" data-aos="fade-up">
      
      <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
    </div>

    <div class="container">
      <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
        {% for category_data in all_products %}
          <div class="category-section">
            <div class="tab-header text-center">
             
              <h3>{{ category_data.category }}</h3>
            </div>

            <div class="row gy-5">
              {% for product in category_data.products %}
                <div class="col-lg-4 menu-item">
                  <a href="{{ product.image.url }}" class="glightbox">
                    <img src="{{ product.image.url }}" class="menu-img img-fluid" alt="{{ product.product_name }}">
                  </a>
                  <h4>{{ product.product_name }}</h4>
                  <p class="ingredients">
                    {{ product.desc }}
                  </p>
                  <p class="price">
                    ${{ product.price }}
                  </p>
                  <!-- Add to Cart and View buttons -->
                  <button class="btn btn-primary">Add to Cart</button>
                  <a href="#" class="btn btn-secondary">View</a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock body %}
